{% load static %}
<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="author" content="chameleon">
      <meta name="description" content="Forum criado por chameleon para discurções sobre hacking, tecnologia e liberdade">
      <meta name="keywords" content="Liberdade, expressao, hacker, hacking, programacao, tecnologia, chameleon">
    <!-- END Required meta tags -->

      <!-- Bootstrap CSS< JS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- END Bootstrap CSS< JS -->

    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>LibertS</title>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-black">

      <a class="navbar-brand" href="{% url 'home' %}">LibertPy</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#drop" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="drop">

        <ul class="navbar-nav ml-3">

          <li class="nav-item">
            <a class="nav-link active link-houver" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'topics_view' %}">Topics</a>
          </li>
          <div class="container row">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link text-danger" href="{% url 'logout_user' %}">Logount</a>
          {% endif %}
          </div>


        </ul>

      </div>

    </nav>

    <ul>

      <h2 class="card-title text-center">{{ topics.title_topic }}</h2>
      <p class="card-text text-justify">{{topics.text_topic}}</p>

    </ul>

    <section class="bg-light" id="topic">
        <div class="container">
          <div class="row justify-content-center">
              <article class="card borda-card imagem-card p-0 m-4 col-12 col-md-4">
                  <div class="card-body">
                    <h2 class="card-title text-center">{{ topics.title_topic }}</h2>
                    <p class="card-text text-justify">{{topics.text_topic}}</p>
                  </div>
              </article>

          </div>
        </div>
      </section>

        <form action="{% url 'update_topic' topics.p_key %}", method="post">
            {% csrf_token %}
            <input type="text" name="title">
            <input type="text" name="text_topic">
            <input type="submit" value="Salvar">
        </form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>